body {
    padding: 0;
    margin: 0;
    background-color: #404040;
}

div {
//    border: solid 1px silver;
}

button {
    color: white;
    font-size: 3mm;
    background-color: powderblue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-width: 1px;
    border-color: slateblue;
    background-image: linear-gradient(bottom, darkslateblue 40%, slateblue 70%);
    background-image: -o-linear-gradient(bottom, darkslateblue 40%, slateblue 70%);
    background-image: -moz-linear-gradient(bottom, darkslateblue 40%, slateblue 70%);
    background-image: -webkit-linear-gradient(bottom, darkslateblue 40%, slateblue 70%);
    background-image: -ms-linear-gradient(bottom, darkslateblue 40%, slateblue 70%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.4, darkslateblue),
        color-stop(0.7, slateblue)
    );
}

input {
    font-size: 1.5em;
    width: 50%;
}

#header {
//    border: solid 1px green;
    color: white;
    background: black;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #2c2c2c 4%, #000000 51%, #111111 94%, #131313 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(4%,#2c2c2c), color-stop(51%,#000000), color-stop(94%,#111111), color-stop(100%,#131313));
    background: -webkit-linear-gradient(top, #4c4c4c 0%,#2c2c2c 4%,#000000 51%,#111111 94%,#131313 100%);
    background: -o-linear-gradient(top, #4c4c4c 0%,#2c2c2c 4%,#000000 51%,#111111 94%,#131313 100%);

}

#header h1 {
    border: 0;
    font-family: helvetica, verdana;
    font-size: 12mm;
    font-weight: bold;
    font-style: italic;
    letter-spacing: +0.1em;
    padding: 0 0 0 6mm;
    margin: 0;
}

#header hr {
    display: none;
    clear: both;
}

#buttons {
    display: none;
    float: right;
    margin: 1em;
}

#spacer {
    visibility: hidden;
    float: left;
    margin: 0;
    padding: 0;
}

#help {
    background-color: grey;
    color: #404040;
    width: 60%;
    margin: 1em auto;
    padding: 1em;
//    border: solid 1px green;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#output {
    display: none;
    text-align: center;
    padding: 0;
    margin: 1em;
}

#amisfw {
    background-color: white;
    border: solid 2px black;
    padding: 2px;
    margin: 0;
}

#submission {
    display: none;
    text-align: center;
    clear: both;
}

#submission * {
    font-size: 1.2em;
    vertical-align: middle;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#footer {
}

.debug {
    display: none;
    color: white;
    background-color: red;
}
